!!! xml
!!!

%html
  %head
    %title Foo
  %body
    %h1= "#{request.request_method}: #{request.path}"
    %h2 replace_with_self
    %p
      %banana
      %banana
    %ul
      - packet[:env].each do |k,v|
        %li
          %strong
            = k
          = ':'
          &= v