!!! xml
!!!

%html
  %head
    %title 404 Not Found
  %body
    %h1= "#{request.request_method}: #{request.path}"
    %h2 The file you were looking for cannot be found
    %p
      %banana
    %ul
      - packet[:env].each do |k,v|
        %li
          %strong
            = k
          = ':'
          &= v