- if model
  - if resource.options[:sitemappable, false] 
    = orange[:sitemap, true].sitemap_links(packet, {:slug_me => orange[:sitemap, true].slug_for(model, props)})
  %form{:action => packet.route_to(model_name, model[:id], 'save'), :method => 'post'}
    - for prop in props
      %p!= view_attribute(prop, model_name, :label => true, :value => model.attribute_get(prop[:name]))
    %fieldset
      %h4 Permission to Edit:
      - for site in sites
        %p
          #{site.name}
          %input{:type => 'checkbox', :name => "#{model_name}[sites][#{site.id}]", :value => site.id, :checked => (model.orange_sites.include?(site) ? 'checked' : nil)}
    %input{:type => 'submit', :value => 'Save Changes'}
- else
  %p Couldn't find the item you're looking for.