- if route
  .sitemap_item{:class => "sitemap_level_#{route.level}"}
    - if route.level > 0
      = orange[:sitemap].route_actions(packet, :model => route)
    %h4 #{route.link_text} <span>(#{route.full_path})</span>
    .linked_to
      %p 
        Blog titled "#{model.title}"
        %br 
        %a{:href => route_to(:blog_posts, 'create')} Add New Blog Post
    .actions
      = form_link('Delete', route_to(:sitemap, route.id, 'delete'), 'Are you sure you want to delete this?', {:method => 'delete'})
      %a{:href => route_to(:sitemap, route.id, 'edit')} Edit
    %br.clear