.move_actions.dent_actions
  = form_link('Outdent', route_to(:sitemap, model.id, 'outdent'), false, {:method => 'post', :class => 'outdent arrow'}) if model.level > 1
  %p= '&nbsp;'
.move_actions
  - if model.previous_sibling
    = form_link('Up', route_to(:sitemap, model.id, 'higher'), false, {:method => 'post', :class => 'up arrow'}) 
  - else
    %p.disabled_up.arrow= '&nbsp;'
  - if model.next_sibling
    = form_link('Down', route_to(:sitemap, model.id, 'lower'), false, {:method => 'post', :class => 'down arrow'}) 
  - else
    %p.disabled_down.arrow= '&nbsp;'
.move_actions.dent_actions
  = form_link('Indent', route_to(:sitemap, model.id, 'indent'), false, {:method => 'post', :class => 'indent arrow'}) if model.previous_sibling && model.previous_sibling.level == model.level
  %p= '&nbsp;'