!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= part[:title, 'Orange Site'] 
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css"}
    = part[:css]
    = part[:js]
    %link{:rel => "stylesheet", :type => "text/css", :href => "/assets/public/js/markitup/skins/simple/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/assets/public/js/markitup/sets/markdown/style.css"}
  %body{:id => packet["route.resource"].to_s}
    %div#header
      %div#user-status 
        Welcome, #{packet["user"] ? packet["user"].name : "User"}!
        %a.orange-text{:href => "/logout"} Sign Out
      %div#current-site-header 
        %span Current Site:
        %h2.orange-text= packet["site"].name
      %div.tab-container
        %a.tab#home-tab{:href => "#"} Home
        %a.tab#sitemap-tab{:href => route_to(:sitemap)} Pages
        %a.tab#sites-tab{:href => route_to(:subsites)} Sites
        %a.tab#events-tab{:href => "#"} Events
        %a.tab#news-tab{:href => route_to(:news)} News
        %a.tab#blog-tab{:href => route_to(:blog)} Blog
    %div#subheader
      %h1
        %img.subhead-icon{:src => "/assets/public/images/edit.png", :width => "23", :height => "22", :alt => "Pages icon"}= packet["page.title"] || packet["route.resource"].to_s.capitalize  
    %div#page-content
      %div#box-container
        = yield
    %div#footer
      powered by 
      %span.orange-text Sparkles*