%div.page-listing-cell.move-controls= orange[:sitemap].route_actions(packet, :model => route)
- if (route.level > 0 && route.children.count > 0)
  %div.page-listing-expand
    %a.expand{:href => "#"}
      %img{:src => "/assets/public/images/page-listing-expand.png", :border => "0"}
- else
  %div.page-listing-expand
    &nbsp;
%div.page-listing-cell
  %div.page-listing-title.page-listing-page
    %a{:href => route_to(model_name, model.id, "edit")}
      %strong
        = model.title
    &nbsp;
    %a.page-listing-more-info{:href => "#"}
      Extras...
%div.page-listing-cell
  %div.page-status
    %div.page-listing-status.status-published
      Published #{fuzzy_time(model.updated_at)}
%div.page-listing-cell
  %div.page-listing-actions
    %a.grey-button.preview-button{:href => route.full_path, :target => "_blank"}
      Preview
    = delete_button(route_to(model_name, model.id, "delete"))
    %a.grey-button.move-button{:href => "#"}
      Move
%div.page-listing-cell{:style => "clear: both"}
  %div.page-listing-excerpt
    = model.body.blank? ? "" : model.body[0..100]
%div.page-listing-extras
  %div.page-listing-cell
    %div.page-listing-location.float-left
      Current Location:&nbsp; 
      %span.last-uri-segment><
        = route.full_path
%div.page-listing-extras
  %div.page-listing-cell
    %div.float-left
      Show in Menu:&nbsp;
    %div.page-listing-show-in-menu.float-left
      %a{:href => "#", :class => route.show_in_nav ? "white-button" : "grey-button"}
        Yes
    %div.page-listing-hide-from-menu.float-left
      %a{:href => "#", :class => !route.show_in_nav ? "white-button" : "grey-button"}
        No
%br.clearfix