!!! xml
!!!
%html
  %head
    %title= part[:title, 'Orange Site']
    = part[:css]
    = part[:js]
  %body
    #body
      .header
        ORANGISH
      .container
        #inner-body
          .sidebar
            - orange[:admin].links(packet).each do |k, section|
              .sidebar_section
                %h3= k
                %ul
                  - for link in section
                    %li
                      %a{:href => link[:href], :style => "background-image: url(#{link[:icon]})"}= link[:text]
          .main
            = yield
      .footer
        %banana