!!! xml
!!!
%html
  %head
    %title= part[:title, 'Orange Site'] 
    = part[:css]
    - packet.add_js('jquery.validate.pack.js', :module => '_contactforms_')
    = part[:js]
  %body
    .container
      #header
        %h1 Demo Orange Site
        #nav= orange[:sitemap].two_level(packet)
      #inner-body
        %hr
        = yield
      %hr
      = packet['route.context']
      %o:if_member
        %p This will only show if a member
      %o:unless_member
        %p This will only show if not a member
      %o:if_member{:else_view => "ohnoes"}
        %p This will only show if a member, otherwise it will show ohnoes.
      .footer
        %p
          This site is running on Orange. 
          %a{:href => route_to('pages', :context => 'admin')} Admin?