%form{:action => packet.route_to(model_name, 'register'), :method => 'post'}
  - if(packet.flash['error'])
    .error
      %p= packet.flash('error')
  %p Fill out the following details to register for an account.
  %p
    %label Email
    %br
    %input{:type => "text", :name => "members[email]"}
  %p.registration-name
    %label Name*
    %br
    *Ignore this field unless you are a spam robot.
    %br
    %input{:type => "text", :name => "members[name]"}
  %p
    %label Password
    %br
    %input{:type => "password", :name => "members[password]"}
  %p
    %label Repeat Password
    %br
    %input{:type => "password", :name => "members[repeat_password]"}
  %fieldset
    %legend Mailing Lists
    %p 
      %input{:type => "checkbox", :name => "members[email_subscribe]", :value => "1"}
      Sign up for the mailing list?
    %p We separate our mailing list into multiple topics to avoid spamming our users with unwanted emails. Choose the information you would like to receive email about.
    - for group in list_groups
      %h2= group["name"].capitalize
      %input{:type => "hidden", :name => "members[groups][#{group['name']}][]", :value => ""}
      - for opt in group["groups"]
        %p
          %input{:type => "checkbox", :name => "members[groups][#{group['name']}][]", :value => opt["name"]}
          = opt["name"]
  %input{:type => "submit", :value => "Register"}