- if model
  %tr
    %td= model.name
    %td= model.description
    %td= model.location_name
    %td= model.calendar.blank? ? "None" : model.calendar.name
    %td
      - if model.link_to_eventbrite
        - if model.eventbrite_id && model.eventbrite_id != "new"
          %a{:href => "http://www.eventbrite.com/myevent?eid="+model.eventbrite_id}= model.name
        - else
          N/A
      - else
        N/A
    %td.actions
      = form_link('Delete', route_to(model_name, model.id, 'delete'), 'Are you sure you want to delete this?', {:method => 'delete'})
      %a{:href => route_to(model_name, model.id, 'edit')} Edit