- if model
  .sitemap_item{:class => "sitemap_level_#{model.level}"}
    - if model.level > 0
      .move_actions.dent_actions
        = form_link('Outdent', route_to(model_name, model.id, 'outdent'), false, {:method => 'post', :class => 'outdent arrow'}) if model.level > 1
        %p= '&nbsp;'
      .move_actions
        - if model.previous_sibling
          = form_link('Up', route_to(model_name, model.id, 'higher'), false, {:method => 'post', :class => 'up arrow'}) 
        - else
          %p.disabled_up.arrow= '&nbsp;'
        - if model.next_sibling
          = form_link('Down', route_to(model_name, model.id, 'lower'), false, {:method => 'post', :class => 'down arrow'}) 
        - else
          %p.disabled_down.arrow= '&nbsp;'
      .move_actions.dent_actions
        = form_link('Indent', route_to(model_name, model.id, 'indent'), false, {:method => 'post', :class => 'indent arrow'}) if model.previous_sibling && model.previous_sibling.level == model.level
        %p= '&nbsp;'
    %h4 #{model.link_text} <span>(#{model.full_path})</span>
    .linked_to
      %p 
        Linked to: 
        %a{:href => model.resource.blank? ?  '#' : route_to(model.resource, model.resource_id, 'edit')} [#{model.resource}] ##{model.resource_id}
    .actions
      = form_link('Delete', route_to(model_name, model.id, 'delete'), 'Are you sure you want to delete this?', {:method => 'delete'})
      %a{:href => route_to(model_name, model.id, 'edit')} Edit
    %br.clear